* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALS */

header, main {
    background-color: black;
    color: white;
}

main {
    height: calc(100vh - 145px);
    overflow: auto;
}
/*      // // //      */

header {
    padding: 10px;
    height: 80px;
}
header .box-header {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box-header span{   
    margin-left: 10px;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 6px;
    background-color: #4A4A4A;
}

main .call-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

}


main .video-img{
    width: 200px;
    height: 120px;
    position: relative;
}
main .video-img img{
    width: 100%;
}

main .video-box{
    margin: 5px;
}
main .video-box .name{
    font-size: 1vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
}

footer{
    height: 65px;
    background-color: #222222;
}